@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Montserrat:wght@100;200;300;500&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

body{
   background-color: rgb(29, 58, 85);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
}

.container{
   width: 700px;
   padding: 20px;
}

.container h1{
   text-align: center;
   color: #fff;
}

.container ul{
   list-style: none;
   margin: 30px 0;
}

.container li{
   display: flex;
   justify-content: space-between;
   background-color: rgb(255, 255, 255, 0.1);
   padding: 10px 20px;
   border-radius: 10px;
   color: #fff;
   cursor: pointer;
   font-weight: 300;
   transition: all ease 0.3s;
   margin: 5px;
}

.container li div:first-child{
   flex: 2;
   font-weight: 500;
}

.container li div:nth-child(2){
   flex: 1;
   font-size: 14px;
}

.container li:hover{
   background-color: rgb(255, 255, 255, 0.2);
}

div.actions i{
   transition: all ease .3s;
   cursor: pointer;
}

div.actions i:first-child{
   color: rgb(13, 138, 50);
}

div.actions i:last-child{
   color: rgb(129, 55, 55);
   margin-left: 7px;
}

div.actions i:first-child:hover{
   color: rgb(60, 187, 98);
}

div.actions i:last-child:hover{
   color: rgb(182, 65, 65);
}


button.add{
   background-color: rgb(33, 153, 69);
   color: #fff;
   padding: 10px 20px;
   border-radius: 5px;
   cursor: pointer;
   border: none;
   transition: all ease .3s;
}

button.add:hover{
   background-color: rgb(15, 136, 52);
}

button.remove{
   background-color: rgb(129, 55, 55);
   color: #fff;
   padding: 10px 20px;
   border-radius: 5px;
   cursor: pointer;
   border: none;
   transition: all ease .3s;
}

button.remove:hover{
   background-color: rgb(182, 65, 65);
}

/*modals*/
.modal{
   width: 100vw;
   height: 100vh;
   position: fixed;
   background-color: rgba(0, 0, 0, .6);
   display: flex;
   justify-content: center;
   align-items: center;
   display: none;
}


.modal .box{
   width: 700px;
   background: #fff;
   border-radius: 5px;
   padding: 30px;
   backdrop-filter: blur(16px) saturate(180%);
   -webkit-backdrop-filter: blur(16px) saturate(180%);
   background-color: rgba(17, 25, 40, 0.75);
   border-radius: 12px;
   border: 1px solid rgba(255, 255, 255, 0.125);
   color: #fff;
   position: relative;
}

.box span{
   font-weight: 100;
   font-size: 14px;
}

.box p{
   margin: 20px 0;
}

.box .actions{
   font-size: 20px;
}

.close-modal{
   position: absolute;
   top: 15px;
   right: 15px;
}

.close-modal i{
   font-size: 30px;
   color: rgb(129, 55, 55);
   cursor: pointer;
   transition: all ease .3s;
}

.close-modal i:hover{
   color: rgb(182, 65, 65);
}

/*Modal Add*/
.box label{
   display: block;
   margin-top: 20px;
   margin-bottom: 5px;
}
.box input{
   padding: 10px;
   border-radius: 5px;
   border: none;
   width: 100%;
}

.box input:focus{
   box-shadow: 1px 1px 10px -2px #23BE15;
   outline: 0;
}

.box textarea{
   min-width: 100%;
   max-width: 100%;
   padding: 10px;
   border-radius: 5px;
   border: none;
   margin-bottom: 20px;
}

.box textarea:focus{
   box-shadow: 1px 1px 10px -2px #23BE15;
   outline: 0;
}
